<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<style>
		body {
			font-family: sans-serif;
		}
		.results {
			font-size: 0.7em
		}
	</style>
</head>
<body>
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/file">
			<table>
				<tr>
					<td>File to upload:</td>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<table id="results">
		<thead>
			<tr><th th:each="key : ${keys}" th:text="${key}"></th></tr>
		</thead>
		<tbody>
			<tr th:each="line : ${fileObjects}" >
				<td th:each="value : ${line.values()}" th:text="${value}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>